@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #003C50;
  --accent1: #137B90;
  --accent2: #07A1BD;
  --accent3: #6DD6EA;
  --accent4: #9EEDFD;
  --accent5: #CAF4FE;
  --white: #FFFFFF;
}

@font-face {
  font-family: pop;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: urba;
  src: url("./assets/fonts/Urbanist-Regular.ttf");
}

.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
  
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.urba {
  font-family: urba;
}

.pop {
  font-family: pop;
}

