@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #003C50;
  --white: #FFFFFF;
}

@font-face {
  font-family: pop;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: urba;
  src: url("./assets/fonts/Urbanist-Regular.ttf");
}

.urba {
  font-family: urba;
}

.pop {
  font-family: pop;
}

